.instagram {
  margin-top: 2rem;
  overflow: hidden;
  padding: 4rem 0.5rem 1rem 0.5rem;

  h1 {
    max-width: 80%;
    margin: 0 auto;
    margin-bottom: 4rem;
    font-size: 4rem;
    color: #fff;
  }

  .instagram-content {
    width: 80%;
    margin: 0 auto;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;

    img {
      width: 100%;
      cursor: pointer;
    }
  }

  .lightBox {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba($color: #000000, $alpha: 0.9);
    z-index: 100;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 1024px) {
  .instagram {
    padding: 2rem 0.5rem;

    h1 {
      font-size: 2rem;
      margin: 2rem auto;
    }

    .instagram-content {
      grid-gap: 1rem;
    }
  }
}

@media (max-width: 768px) {
  .instagram {
    h1 {
      font-size: 2rem;
    }

    .instagram-content {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1rem;
    }
  }
}

@media (max-width: 425px) {
  .instagram {
    h1 {
      font-size: 1.5rem;
    }

    .instagram-content {
      grid-gap: 0.8rem;
    }
  }
}
