.services {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: #fff;
  overflow: hidden;
  padding-bottom: 3rem;

  .services-top {
    height: 35vh;
    background: url('../img//services-top.png') center center/cover;
  }

  .services-center {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 15%;
    left: 50%;
    transform: translate(-50%, 0);

    video {
      background-color: #000;
    }
  }

  .services-bottom {
    max-width: 90%;
    margin: 0 auto;
    margin-top: 13rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    ul {
      margin: auto;

      li {
        padding: 0.8rem 0;
        font-size: 1.1rem;
        font-weight: 500;
        list-style: none;
      }
    }
  }

  .services-man {
    img {
      width: 120px;
    }
    position: absolute;
    bottom: 12%;
    left: 2%;
  }
}

@media (max-width: 1024px) {
  .services {
    .services-top {
      height: 25vh;
    }

    .services-center {
      img {
        width: 320px;
        height: 180px;
      }

      video {
        width: 320px;
        height: 180px;
      }
    }

    .services-bottom {
      margin-top: 12rem;
      width: 80%;
      grid-gap: 1rem;

      ul {
        li {
          font-size: 0.9rem;
        }
      }
    }

    .services-man {
      img {
        width: 70px;
      }
      position: absolute;
      bottom: 22%;
      left: 1%;
    }
  }
}

@media (max-width: 768px) {
  .services {
    height: 100%;

    .services-top {
      height: 20vh;
    }

    .services-center {
      top: 9%;
      img {
        width: 240px;
        height: 135px;
      }

      video {
        width: 240px;
        height: 135px;
      }
    }

    .services-bottom {
      margin-top: 6rem;
      width: 80%;
      grid-template-columns: 1fr;
      grid-gap: 4rem;
      padding-bottom: 2rem;

      .services-second-ul {
        margin-top: -4rem;
      }

      ul {
        li {
          font-size: 0.9rem;
        }
      }
    }

    .services-man {
      img {
        width: 70px;
      }
      position: absolute;
      bottom: 12%;
      left: 5%;
    }
  }
}

@media (max-width: 425px) {
  .services {
    height: 100%;

    .services-top {
      height: 10vh;
    }

    .services-center {
      top: 3%;
      img {
        width: 160px;
        height: 90px;
      }

      video {
        width: 160px;
        height: 90px;
      }
    }

    .services-bottom {
      margin-top: 5rem;
      width: 80%;
      grid-template-columns: 1fr;
      grid-gap: 4rem;
      padding-bottom: 2rem;

      ul {
        li {
          font-size: 0.7rem;
        }
      }
    }

    .services-man {
      img {
        width: 100%;
      }
      position: absolute;
      bottom: 15%;
      left: 2%;
      opacity: 0.05;
    }
  }
}
