.showcase {
  position: relative;
  height: 100vh;
  width: 100%;
  background: url("../img//showcase.png") center center/cover;
  z-index: 1;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba($color: #000, $alpha: 0.7);
  }

  .showcase-shadow {
    position: absolute;
    opacity: 0.05;
    bottom: -8%;
    left: -2.5%;
    z-index: 2;
  }

  //   .showcase-scroll {
  //     position: absolute;
  //     bottom: 0;
  //   }

  .showcase-appointment {
    position: absolute;
    bottom: 16%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 3;

    a {
      font-size: 1.5rem;
      font-weight: 700;
      color: #fff;
      text-decoration: none;
      padding: 0.7rem 1.5rem;
      background-color: #ff7a13;
    }
  }

  .showcase-bottom {
    width: 90%;
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    z-index: 2;

    .showcase-left {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      h1 {
        font-size: 3rem;
        line-height: 0.8;
        font-weight: 700;
      }
    }

    .showcase-right {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;

      .showcase-contact {
        text-align: right;
        font-size: 1.5rem;
        line-height: 2;
        font-weight: 700;
      }

      .showcase-social-media {
        display: flex;
        justify-content: center;
        align-items: center;

        a {
          text-decoration: none;
          padding-top: 1rem;
          margin-left: 2rem;
          font-size: 1.5rem;
          color: #fff;
          border-bottom: 1px solid #fff;
          font-weight: 700;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .showcase {
    .showcase-shadow {
      width: 10%;
      left: -4.5%;
    }

    .showcase-appointment {
      bottom: 11%;
      a {
        font-size: 1rem;

        padding: 0.5rem 1rem;
      }
    }

    .showcase-bottom {
      width: 90%;
      bottom: 10%;

      .showcase-left {
        img {
          width: 45px;
        }

        h1 {
          font-size: 2rem;
        }
      }

      .showcase-right {
        .showcase-contact {
          font-size: 1rem;
        }

        .showcase-social-media {
          a {
            font-size: 1rem;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .showcase {
    .showcase-shadow {
      width: 5%;
      left: 1%;
      bottom: 2%;
    }

    .showcase-appointment {
      bottom: 10%;
      a {
        font-size: 0.8rem;
      }
    }

    .showcase-bottom {
      width: 90%;
      bottom: 9%;

      .showcase-left {
        img {
          width: 35px;
        }

        h1 {
          font-size: 1.5rem;
        }
      }

      .showcase-right {
        .showcase-contact {
          font-size: 0.8rem;
        }

        .showcase-social-media {
          a {
            padding-top: 0;
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}

@media (max-width: 425px) {
  .showcase {
    .showcase-shadow {
      display: none;
    }

    .showcase-appointment {
      bottom: 20%;
      a {
        font-size: 0.7rem;
      }
    }

    .showcase-bottom {
      flex-direction: column;
      width: 100%;
      bottom: 30%;

      .showcase-left {
        img {
          width: 40px;
        }

        h1 {
          font-size: 2rem;
        }
      }

      .showcase-right {
        padding-top: 4rem;
        align-items: center;

        .showcase-contact {
          font-size: 0.8rem;
          text-align: center;
        }

        .showcase-social-media {
          a {
            padding-top: 0;
            font-size: 0.8rem;
            margin: 1rem;
          }
        }
      }
    }
  }
}
